on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on fs
    install_keyring
    setprop crypto.ready 1

service keystore2 /system/bin/keystore2
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-trustonic /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service guardianangle  /system/bin/guardianangle
    disabled
    user root
    seclabel u:r:recovery:s0

service vivofbe /system/bin/vivofbe
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0
    start keystore2
    start guardianangle
    start vivofbe

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop guardianangle
    stop vivofbe

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop guardianangle
    stop vivofbe

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop guardianangle
    stop vivofbe